body {
    background-color: #f8f8f8;
    font-family: -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    margin-bottom: 2in;
}
h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system-font, 'Segoe UI Light', 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 300;
}
.header {
    background-color: #0786bd;
    margin-bottom: 14px;
    padding: 12px 0px;
    color: #dcf3f6;
}
.header h1 {
    font-size: 40px;
    line-height: 1;
    margin: 8px 0 5px 0;
    color: #fff;
}
.header img {
    float: left;
    margin: 0 10px 5px 0;
}
h3 {
    margin: 30px 0 10px -12px;
}
h1, h2, h3, h4, h5, h6 {
    color: #026974;
}
#app {
    margin-left: 12px;
}
.content {
    margin: 30px 0 10px 12px;
}
.detail {
}
.app-input-group {
    margin-left: 100px;
}
.wj-calendar {
    max-width: 400px;
}
.wj-flexgrid, .wj-grouppanel {
    margin-left: 100px;
}
.wj-flexgrid.wj-pivotgrid {
    margin-left: 0;
}
.wj-flexgrid {
    max-height: 300px;
    max-width: 600px;
}
.wj-grouppanel {
    max-width: 600px;
}

.wj-viewer .wj-flexgrid{
    margin-left: 0px;
}
.wj-pivotpanel{
    max-width: 500px;
    max-height: 500px;
}
.wj-pivotgrid{
    max-width: 600px;
}
.wj-gauge,wj-bulletgraph {
    max-width: 400px;
    margin-left: 100px;
}
.wj-detaildialog .wj-flexgrid {
    margin-left: 0px;
}
.wj-viewer {
    max-width: 800px;
    margin-left: 100px;
}
.wj-viewer.full-screen {
    max-width: 100%;
    margin-left: 0px;
}
.seperator {
    height:1px;
    width:100%;
    margin-top:2px;
    margin-bottom:10px;
    background:#DDDDDD;
    overflow:hidden;
}
.wj-flexchart {
    max-width: 600px;
    margin-left: 100px;
}
.wj-pivotchart .wj-flexchart {
    max-width: 100%;
    margin-left: 0px;
}
.container .wj-control {
    margin-bottom: 14pt;
}
.calendar {
    height: 100%;
    max-width: 300px;
    margin: 12px;
}
/* default trees on this sample */
.wj-treeview {
    display:block;
    height: 350px;
    font-size: 120%;
    margin-bottom: 8px;
    background: white;
    margin-left: 100px;
    max-width: 600px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.wj-flexsheet{
    height: 750px;
}
table .wj-control {
    border-collapse:separate;
}

.flag-icon {
    display: inline-block;
    background-image: url(assets/expanded.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 11px;
}
.flag-icon-canada {
    background-image: url(assets/canada.png);
}
.flag-icon-germany {
    background-image: url(assets/germany.png);
}
.flag-icon-greece {
    background-image: url(assets/greece.png);
}
.flag-icon-italy {
    background-image: url(assets/italy.png);
}
.flag-icon-japan {
    background-image: url(assets/japan.png);
}
.flag-icon-uk {
    background-image: url(assets/uk.png);
}
.flag-icon-us {
    background-image: url(assets/us.png);
}

.wj-accordion .wj-labeled-input {
    display: block;
    margin: 0;
    padding: 0.5em;
}
.wj-tabpanel,
.wj-accordion {
    margin-left: 100px;
}
